body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #fafafa;
}
.body-errors {
  padding: 10px;
  align-self: normal;
  background: #eee;
  width: 100%;
  height: 100%;
}
.body-error-1 {
  color: #b22;
  font-weight: 400;
  font-size: 1.8rem;
}
.body-error-2 {
  color: #b22;
  font-weight: 400;
  font-size: 1.1rem;
  padding-top: 10px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.page-text-cont .tip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 60px;
}
.page-text-cont .tip > * {
  margin: 0px;
  margin-right: 10px;
}
.page-text-cont .tip input {
  width: 100px;
}
.page-text {
  white-space: break-spaces;
}
.genesis-form,
.page-text {
  width: 95%;
  min-height: 95%;
}

.genesis-form > p,
.genesis-form > .field {
  max-width: 1200px;
}

.modal {
  display: block;
}
.modal-card {
  margin-top: 100px;
}

.has-text-danger {
  text-align: center;
}

.note {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.update-page {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

/* apply bulma css sizes to tags */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h2 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 15px;
}
